/* css/avatar.css */
.avatar {
    object-fit: cover;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 2px solid #e5e7eb;
}

.dark-mode .avatar {
    border: 2px solid #4b5563;
}

.avatar:hover {
    transform: scale(1.1);
    box-shadow: var(--shadow);
}