/* css/overlay.css */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.overlay.active {
    display: block;
}

.overlay-content {
    background: #ffffff;
    border-radius: 12px;
    padding: 32px;
    width: 360px;
    height: 100%;
    max-width: 95%;
    box-shadow: var(--shadow);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.dark-mode .overlay-content {
    background: #1f2937;
    color: #ffffff;
}

.overlay.active .overlay-content {
    transform: translateX(0);
}